h1{
    background-color: antiquewhite;
    text-align: center;
    color: green;
    border: 2px dotted red;
    border-radius: 25px;
    margin: 0 25% 0 25%;
    padding: 7px;


}
.para1{
    background-color: aliceblue;
    color: blueviolet;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin: 0  45% 0 45%;
}

.flex-container{
    display: flex;
    background-color: aliceblue;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 25%;
    flex: basis 25;
    flex-wrap: nowrap;


}
.f1{
    background-color: aquamarine;
    border: .5px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    text-align: center;
    padding: 0;
    row-gap: 10px;
    row-gap: 10px;

}
.flex-container2{
    display: flex;
    flex-direction: row;
}
.k1{
    display: block;
    color: #ff6022;
}
a{
    text-decoration: none;
    color: #000000;
}
.f1a{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: .5px solid black;
    align-items: center;
    flex-basis: 25%;
    text-align: center;
    border-radius: 5px;
    row-gap: 10px;
}

.sec1{
    background-color: antiquewhite;
    border: black solid .05px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    text-align: center;

}
.sec2{
    background-color: antiquewhite;
    border: black solid .05px;
    text-align: center;
}
.mainflex-container{
    display: flex;
    flex-direction: row;
    flex-basis: 10% 90%;
    column-gap: 15px;
}
.m1{
    border: 1px solid green;
    text-align: center;
}